$dark: #0C0C0C;

$primary: #15DE72;
$secondary: #059573;
$accent: #15DE72;

$indigo: #253C5B;
$light-blue: #A5C1E1;
$grey: #D1D5DB;
$white: #FFFFFF;

$black: #212121;
$blue-grey: #6B7280;

$grey-1: #E5E7EB;
$blue: #3B82F6;

$positive: #15DE72;
$info: #15DE72;
$warning: #AFF24B;
$negative: #d45d5d;


@font-face {
  font-family: 'Inter', sans-serif;
  src: url("../fonts/Inter.ttf");
}

* {
  font-family: 'Inter', sans-serif;
}